.text {
  &-white {
    color: white;
  }
  &-black {
    color: black;
  }
  &-red{
    color: $red;
  }
  &-orange{
    color: $orange;
  }
  &-blue{
    color: $brand-color;
  }
  &-green{
    color: $brand-color;
  }
  &-grey{
    color: $brand-color;
  }
}

.no-underline {
  &:hover {
    text-decoration: none;
  }
}
